.ProductList {
  background-color: #f5f5f5;
  color: var(--clr-black);
  padding-top: var(--general-padding);
  padding-bottom: var(--general-padding);
  padding-left: var(--general-padding);

  h2 {
    font-size: 1.2rem;
  }
  span {
    display: block;
    line-height: 1.5em;
    font-size: 0.83rem;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  .FlexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--general-padding);
  }

  .ProdCard {
    position: relative;
    flex-basis: calc(25% - var(--general-padding));

    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center 1rem;
    height: 40vh;
    background-color: var(--clr-white);
    border-radius: 20px;
  }

  .ProdInfo {
    position: absolute;
    background-color: var(--clr-white);
    border-radius: 20px;
    padding: 1rem;
    padding-bottom: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .RefurbishedTag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-secondary);
    color: var(--clr-black);
    font-weight: 500;
    padding: 4px 8px;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .Peer2PeerTag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-primary);
    color: var(--clr-black);
    font-weight: 500;
    padding: 4px 8px;
    text-align: center;
    margin: 1rem auto 0 auto;
    border: 1px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media screen and (min-width: 1440px) {
    .ProdCard {
      flex-basis: calc(20% - var(--general-padding));
    }
  }

  @media screen and (max-width: 1024px) {
    .ProdCard {
      flex-basis: calc(33.33% - var(--general-padding));
    }
  }

  @media screen and (max-width: 767px) {
    padding: var(--general-padding) var(--general-mini-padding);

    span {
      font-size: 1rem;
    }
    .ProdCard {
      flex-basis: 100%;
      background-position: left center;
      background-size: auto 90%;
    }
    .ProdInfo {
      width: 55%;
      bottom: -1rem;
      left: 45%;
      box-shadow: 0px 0px 2px var(--clr-black);
    }

    .ProdInfo p {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 2025px) {
    padding: var(--general-padding) var(--general-large-padding);
  }
}
