.HomeHero {
  display: flex;
  align-items: center;
  padding: var(--general-padding) 0;

  .Text {
    flex-basis: 60%;
    padding: 0 var(--general-padding);
  }

  .Text p {
    max-width: 45ch;
  }

  .Image {
    flex-basis: 40%;
    min-height: 50vh;
    background: url("../TechCycle.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;

    .Text {
      padding: var(--general-mini-padding);
    }

    .Image {
      min-height: 30vh;
      min-width: 100%;
      flex-basis: 100%;
      background-size: 70% auto;
      background-position: top center;
    }
  }
}
