.HomeHero {
  display: flex;
  align-items: center;

  .Text {
    flex-basis: 60%;
    padding: 0 var(--general-padding);
  }

  .Text p {
    max-width: 45ch;
  }

  .Image {
    flex-basis: 40%;
    min-height: 50vh;
    background: url("../TechCycle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;

    .Text {
      padding: var(--general-mini-padding);
    }

    .Image {
      min-height: 30vh;
      min-width: 100%;
      flex-basis: 100%;
      background: url("../hero-img-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (min-width: 2025px) {
    padding: var(--general-padding) var(--general-large-padding);

    .Text {
      padding: 0;
    }
  }
}
