.BenefitsBanner {
  display: flex;
  // background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  background-image: radial-gradient(
      farthest-side at bottom left,
      #271d3b,
      transparent 900px
    ),
    radial-gradient(farthest-corner at top right, #000, transparent 1000px);
  .Box {
    border-left: 1px solid var(--clr-primary-dark);
    flex-basis: 33.33%;
    padding: 35px 1%;
  }

  .BenefitText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.83rem;
    gap: 1%;
  }

  svg {
    height: 1.5rem;
    width: auto;
    fill: var(--clr-primary);
  }

  @media screen and (max-width: 1024px) {
    flex-direction: row;

    .Box {
      border-bottom: 1px solid var(--clr-primary-dark);
      flex-basis: 100%;
      padding: 3%;
    }

    .BenefitText {
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .Box {
      border-bottom: 1px solid var(--clr-primary-dark);
      flex-basis: 100%;
    }

    .BenefitText {
      justify-content: center;
    }
  }
}
