.HeaderContainer {
  .ModelValue {
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      font-size: initial;
      font-size: 2rem;
    }
  }
  .ModelInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .Info {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 0.5em;
        &::after {
          content: "|";
          margin-left: 0.5em;
          @media screen and (max-width: 767px) {
            content: "";
          }
        }
        &:last-child::after {
          content: "";
          margin-left: 0;
        }
      }
    }
    .PriceValue {
      font-size: 2rem;
      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }
  }
}

.SummeryTableContainer {
  position: relative;
  z-index: 5555;

  table {
    margin: 1.7em 0;
    @media screen and (max-width: 767px) {
      margin: 1.4em 0;
    }
    thead th {
      text-align: start;
      font-size: 0.8rem;
      @media screen and (max-width: 767px) {
        font-size: 1.2rem;
      }
    }

    tbody td {
      padding: var(--general-mini-padding);
      border-bottom: 1px solid var(--clr-primary-light);
      @media screen and (max-width: 767px) {
        padding: var(--general-mini-padding) 0;
      }
    }
  }
}
