.FilterAside {
  padding: var(--general-smaller-padding) var(--general-padding);
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  position: relative;

  .FilterDropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    background-color: var(--clr-white);
    border-radius: 10px;
    top: 70px;
    width: calc(100% - 75px);
    margin-right: 35px;
    padding: var(--general-padding);
    z-index: 7777;

    h4 {
      color: var(--clr-black);
    }

    .BrandBox,
    .RangeBox,
    .ClearFilterBox {
      width: 100%;
    }

    .RangeBox {
      position: relative;

      .LowRange,
      .HighRange {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--clr-black);
      }
    }

    .ClearFilterBox {
      display: flex;
      justify-content: right;
      align-items: end;
    }
  }
}
