/* Navbar Menu */
.NavBarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 4em;

  @media screen and (max-width: 767px) {
    display: none;
  }
  li {
    padding-right: var(--general-padding);

    a {
      font-size: 0.9rem;
      color: #848895;
      transition: color 0.3s ease;
      &:hover,
      &:active,
      &:focus {
        color: var(--clr-white);
      }
      &.active {
        color: var(--clr-white);
      }
      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }
    }
  }
}
