.IconCartLink {
  display: flex;
  align-items: center;
  padding-left: var(--general-mini-padding);
  width: 35px;
}

.MiniCartContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    right: 15px;
    top: 0px;
  }
  .MiniCartCount {
    position: absolute;
    top: -3px;
    right: 2px;
    font-size: 0.6rem;
    font-weight: 400;
    height: 20px;
    width: 20px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    color: var(--clr-black);
    @media screen and (max-width: 767px) {
      top: -21px;
      font-size: 0.75rem;
    }
  }
}
