.CartContainer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: var(--clr-text);
  min-height: calc(70vh);
  padding: var(--general-smaller-padding);
  margin-top: 4rem;

  @media screen and (max-width: 2024px) and (max-height: 1179px) {
    min-height: calc(100vh - 70px);
  }

  @media screen and (max-width: 767px) {
    min-height: fit-content;
    flex-direction: column;
    margin-top: 20px;
  }

  .CartColumns {
    width: 100%;
    padding: var(--general-padding);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    height: fit-content;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: var(--general-smaller-padding);
    }
  }
}
