.Cart__RightColumn {
  background-color: var(--clr-white);
  padding: var(--general-padding);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    margin: 1.5rem 0px;
  }

  .CartSummeryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .CartSummery {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 0.8725rem;
      padding: 0px 0.25rem 1rem;
      width: 100%;

      .SummerListItem {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        gap: 0.25rem;
        margin: 0px;
        padding: 0px;

        .ListItem__Brand {
          font-weight: 700;
          font-size: 1rem;
          padding: 0px 0px 0.25rem;
        }

        .ListItem__Price {
          font-weight: 700;
          font-size: 1rem;
          white-space: nowrap;
        }
      }
    }

    .SummeryRow {
      display: flex;
      justify-content: space-between;
    }

    .ShippingText,
    .ShippingPrice {
      font-weight: 700;
      font-size: 1rem;
    }

    .SummeryRowTotal {
      border-top: 1px solid rgb(217, 218, 219);
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      border-bottom: medium;
      .TotalText,
      .TotalPrice {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}
