.NavBar {
  height: 70px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--general-smaller-padding) var(--general-padding);
  z-index: var(--z-index-navbar);

  .NavBarBrand {
    font-weight: 700;
    font-size: 1.1rem;
    span {
      background: linear-gradient(130deg, #d45bff 30%, #16ef94 70%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .NavBarRight {
    display: flex;

    .NavBarMenu {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 5em;
      li {
        font-weight: 400;
        padding-right: var(--general-padding);
        font-size: 0.7rem;

        a {
          color: #848895;
          transition: color 0.3s ease;
          &:hover,
          &:active {
            color: var(--clr-primary);
          }
        }
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .IconCartLink {
      display: flex;
      align-items: center;
      padding-left: var(--general-mini-padding);
      width: 35px;
    }

    .MiniCartContainer {
      position: relative;
      .MiniCartCount {
        position: absolute;
        top: -15px;
        right: 2px;
        font-size: 0.75rem;
        font-weight: 400;
      }
    }

    .HamburgerMenuIcon {
      position: absolute;
      z-index: var(--z-index-hamburger);
      right: var(--general-mini-padding);
      top: 75px;
      cursor: pointer;
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    .HamburgerMenu {
      position: absolute;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      top: 120px;
      right: var(--general-mini-padding);
      display: none;

      &.isActive {
        display: block;
      }
    }
  }
}
