.NavBar {
  height: 100px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--general-padding) var(--general-large-padding);
  z-index: var(--z-index-navbar);

  @media screen and (max-width: 2024px) {
    padding: var(--general-padding);
    height: 70px;
  }
  @media screen and (max-width: 767px) {
    padding: var(--general-smaller-padding);
    margin-top: 50px;
  }

  /* Navbar Brand */
  .NavBarBrand {
    font-weight: 700;
    font-size: 1.4rem;
    span {
      background: linear-gradient(130deg, #deb8eb 30%, #16ef94 70%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.7rem;
    }
  }

  /* Navbar Right Section */
  .NavBarRight {
    display: flex;
  }
}
