.Footer {
  background-color: #000;
  padding: var(--general-smaller-padding) var(--general-mini-padding);
  display: flex;
  flex-wrap: wrap;

  .FooterSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //   .LinksSection {
  //   }
  .SocialSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    a {
      padding-left: var(--general-mini-padding);
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}
