.Footer {
  position: relative;
  background-image: radial-gradient(
      farthest-side at bottom left,
      #271d3b,
      transparent 900px
    ),
    radial-gradient(
      farthest-corner at bottom right,
      #3a233f,
      transparent 1000px
    );
  padding: var(--general-large-padding);
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  @media screen and (max-width: 2024px) {
    padding: var(--general-padding);
  }

  @media screen and (max-width: 767px) {
    padding: var(--general-smaller-padding);
  }
  @media screen and (max-width: 567px) {
    flex-direction: column;
  }

  h3 span {
    background: linear-gradient(130deg, #deb8eb 30%, #16ef94 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .FooterSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 0.9rem;
      @media screen and (max-width: 2024px) {
        font-size: 0.7rem;
      }
    }
  }

  .LinksSection {
    padding-left: var(--general-padding);
    @media screen and (max-width: 567px) {
      padding-top: var(--general-padding);
      padding-left: 0;
    }
    a {
      margin-bottom: 0.5em;
      &:hover {
        color: var(--clr-primary);
      }
    }
  }
  .SocialSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    a {
      padding-left: var(--general-smaller-padding);
      height: 20px;

      svg {
        height: 1.5rem;
        width: auto;

        @media screen and (max-width: 567px) {
          height: 1.2rem;
          width: auto;
        }
      }
      svg:hover {
        scale: 1.1;
      }
    }
    @media screen and (max-width: 567px) {
      position: absolute;
      right: 35px;
      bottom: 35px;
    }
  }
}
