.SellModalContainer {
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  padding: var(--general-mini-padding);
  overflow: hidden;
  z-index: 8888;

  @media screen and (max-width: 767px) {
    top: 50px;
  }

  &::before {
    content: "";
    background: url(../vector_green_low.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: -662px;
    left: -200px;
    rotate: 140deg;
    @media screen and (max-width: 767px) {
      width: 70%;
      height: 70%;
      bottom: 0;
    }
  }

  &::after {
    content: "";
    background: url(../vector_green_high.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: -200px;
    right: 100px;
    @media screen and (max-width: 767px) {
      right: -46px;
    }
  }

  h2 {
    font-size: 2rem;
    @media screen and (max-width: 767px) {
      font-size: 1.3rem;
      margin-bottom: 1.5em;
    }
    @media screen and (max-width: 2024px) {
      font-size: 1.5rem;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
    @media screen and (max-width: 2024px) {
      font-size: 1rem;
    }
  }

  input[type="text"] {
    font-size: 1rem;
    padding: var(--general-padding);
    @media screen and (max-width: 2024px) {
      font-size: 0.7rem;
      padding: var(--general-mini-padding);
    }
  }

  .FormStepContainer {
    position: relative;
    z-index: 5555;

    form {
      padding: var(--general-large-padding) 0;
      @media screen and (max-width: 2024px) {
        padding: var(--general-padding) 0;
      }
    }
  }

  .FormButton {
    margin: 0.6em 0;
    margin-right: 0.6em;
    transition: 0.3s ease-in-out;
    font-size: 0.7rem;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--clr-black);
    &:hover {
      background-color: var(--clr-white);
    }

    @media screen and (min-width: 2024px) {
      font-size: 1rem;
      min-width: 200px;
      margin: 1em 0;
      margin-right: 1em;
    }
  }

  .ButtonClicked {
    background-color: var(--clr-red-light);
  }

  .SelectContainer {
    display: flex;
    flex-direction: column;

    select {
      height: 40px;
      font-size: 0.7rem;

      @media screen and (min-width: 2024px) {
        height: 70px;
        font-size: 1rem;
      }
    }
  }

  .ErrorMessage {
    color: var(--clr-red-light);
    font-size: 0.6rem;
    @media screen and (min-width: 2024px) {
      font-size: 0.8rem;
    }
  }
}
