.SellModalContainer {
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  padding: var(--general-mini-padding);
  overflow: hidden;
  z-index: 8888;

  @media screen and (max-width: 767px) {
    top: 40px;
  }

  &::before {
    content: "";
    background: url(../vector_green_low.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: -662px;
    left: -200px;
    rotate: 140deg;
    @media screen and (max-width: 767px) {
      width: 70%;
      height: 70%;
      bottom: 0;
    }
  }

  &::after {
    content: "";
    background: url(../vector_green_high.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: -200px;
    right: 100px;
    @media screen and (max-width: 767px) {
      right: -46px;
    }
  }

  h2 {
    font-size: 1.5rem;
    @media screen and (max-width: 767px) {
      font-size: initial;
    }
  }

  .FormStepContainer {
    position: relative;
    z-index: 5555;
  }

  .FormButton {
    background-color: var(--clr-white);
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
    font-size: 0.7rem;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--clr-primary);
      color: var(--clr-primary);
    }
  }

  .ButtonClicked {
    background-color: var(--clr-red-light);
  }

  .SelectContainer {
    display: flex;
    flex-direction: column;

    select {
      height: 50px;
      font-size: 0.7rem;
    }
  }

  .ErrorMessage {
    color: var(--clr-red-light);
    font-size: initial;
  }
}
