.SmallHeroContainer {
  background-color: var(--clr-black);
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--general-padding);

  @media screen and (max-width: 767px) {
    min-height: 20vh;
    h1 {
      background: linear-gradient(var(--clr-white) 40%, var(--clr-secondary))
        60%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  @media screen and (min-width: 2025px) {
    padding: var(--general-padding) var(--general-large-padding);
  }
}
