button {
  cursor: pointer;
  border: none;
  // border-radius: var(--radius);
  background: transparent;
  padding: 5px 10px;
  width: fit-content;
}

.PrimaryBtn {
  background-color: var(--clr-primary);
  color: var(--clr-black);
  padding: 13px 20px;
}

// .secondary {
//   // @extend .button;
//   background-color: red;
//   color: white;
// }

.SellYourPhoneBtn {
  background-color: var(--clr-black);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.SellYourPhoneBanner {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--clr-primary);
  color: var(--clr-black);
  display: none;
  width: 100%;
  font-weight: 700;
  height: 40px;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
