button {
  cursor: pointer;
  border: none;
  // border-radius: var(--radius);
  background: transparent;
  padding: 5px 10px;
  width: fit-content;
}

.PrimaryBtn {
  background-color: var(--clr-primary);
  color: var(--clr-black);
  padding: 13px 20px;
}

// .secondary {
//   // @extend .button;
//   background-color: red;
//   color: white;
// }

.SellYourPhoneBtn {
  background-color: var(--clr-black);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
